/* .card{
    min-width: 200px;

} */

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;

}

img{
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
}