.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2B3848;
}

#logo{
    display: flex;
    height: 400px;
    width: auto;
}

@media (max-width: 410px) and (min-width:300px){
    #logo{
        height: 300px;
    }

}
